<!-- <div class="post-share">
  <div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
  <div class="sharing-icons">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  </div>
</div> -->




{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">
  

<article>
  <a href="{{ https://samanthavanderburgh.github.io/ }}{{ https://samanthavanderburgh.github.io/skills }}">
    <div class="featured-post" style="background-image:url({{ https://samanthavanderburgh.github.io/ }}/assets/img/{{ pexels-miguel-á-padriñán-3785935-resized.jpg }})">
      <h2><span>{{ Skills }}</span></h2>
    </div>
  </a>
</article>
  
  

<!--   {% for post in paginator.posts %}
    {% include featured-post.html %}
  {% endfor %}

  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-image" {% if page.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ page.image }})"{% endif %}>
      <h2><span>{{ page.title }}</span></h2>
    </div>
  </a>    -->
  
</div><!--//sidebar-wrapper-->
