/*
  Site container
*/

.sidebar-wrapper {
  position: static;
  float: left;
  width: 20%;
  padding-top: 10px;
}

.sidebarAndContent {
  padding-top: $header-thickness+20px;
}

.sidebarAndContent a:hover {
   background-size: 0 3px, 100% 3px;
 }

.sidebarAndContent a {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.featured-post {
  height: 400px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-post h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.featured-post h2 span {
  display: inline-block;
  color: white;
  font: bold 18px/35px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.featured-post span a {
  color: white;
}
.featured-post h1 {
  margin: 10px;
}


.featured-image {
  width: 200px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-image h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.featured-image h2 span {
  display: inline-block;
  color: white;
  font: bold 18px/35px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.featured-image span a {
  color: white;
}
.featured-image h1 {
  margin: 10px;
}


.container {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}
// .container a {
//   text-decoration: underline;
//   color:#FF0000;
// }
.content-wrapper {
  margin-left: 10px;
  display: block;
  position: static;
  float: right;
  width: 70%;

}
.post-content {
  max-width: 100%;
}


h3 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.05rem;
  margin-top: 5px;
}




.wrapperMov {
  --color: #1F242D;
  --color-invert: #ffffff;
  --clip-path: circle(15px at left);
  --clip-path-hover: circle(70px at left);
  --clip-path-clicked: circle(100vw at left);
  --duration: .4s;
  --timing-function: ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  .video {
    height: 75vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
    video {
      position: fixed;
      background: #c4cbde;
      top: 50%;
      left: 50%;
      min-width: 25%;
      min-height: 25%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
    }
  }
  .text {
    position: relative; 
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
    opacity: var(--opacity, 1);
    transition: opacity .3s var(--timing-function) .2s;
    &::before,
    &::after {
      content:"";
      position: absolute;
      bottom: 0;
      left: -1px;
      right: 25px;
      height: 0;
    }
    &::before {
      box-shadow: 26px 0 0 1px var(--color);
      right: var(--r, 100%);
      opacity: var(--opacity, 0);
      transition: right .5s ease-in, opacity .1s linear;
    }
    &::after {
      box-shadow: 26px 0 0 1px var(--color-invert);
      clip-path: var(--clip-path);
      transition: clip-path var(--duration) var(--timing-function);
    }
    > span {
      &::before,
      &::after {
        content: attr(data-text);
        padding-left: 26px;
      }
      &::before {
        color: var(--color);
      }
      &::after {
        color: var(--color-invert);
        clip-path: var(--clip-path);
        transition: clip-path var(--duration) var(--timing-function);
        position: absolute;
        left: 0;
      }
    } 
  }
  input {
    width: 220px;
    height: 40px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 40px;
    outline: none; 
    z-index: 2;
    appearance: none;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
    &:hover {
      ~ .video {
        clip-path: var(--clip-path-hover);
      }
      ~ .text {
        &::before {
          --r: 25px;
          --opacity: 1;
        }
        &::after {
          clip-path: var(--clip-path-hover);
        }
        > span {
          &::after {
            clip-path: var(--clip-path-hover);
          }
        }
      }
    }
    &:checked {
      width: 150%;
      height: 150%;
      border-radius: 0;
      ~ .video {
        clip-path: var(--clip-path-clicked);
      }
      ~ .text {
        --opacity: 0;
        transition: opacity .3s var(--timing-function);
        &::after {
          clip-path: var(--clip-path-clicked);
        }
        > span {
          &::after {
            clip-path: var(--clip-path-clicked);
          }
        }
      }
    }
  }
}

//--- ## BASIC #############
bodyMov {
  background: #E8EBF3;
  height: 400px;
  width: 640px;
  font: 400 14px 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .socials {
    position: fixed;
    display: block;
    left: 20px;
    bottom: 20px;
    z-index: 9999;
    > a {
      display: block;
      width: 30px;
      opacity: .2;
      transform: scale(var(--scale, .8));
      transition: transform .3s cubic-bezier(0.38,-0.12, 0.24, 1.91);
      &:hover {
        --scale: 1;
      }
    }
  }
}











@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .content-wrapper {
    margin: auto;
    display: block;
    width: 95vw;
  }
}
