/*
  Site container
*/

.sidebar-wrapper {
  padding-top: $header-thickness+10px;
  position: static;
  float: left;
  width: 20%;
}

.featured-post {
  height: 400px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-post h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.featured-post h2 span {
  display: inline-block;
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.featured-post span a {
  color: white;
}
.featured-post h1 {
  margin: 10px;
}


.featured-image {
  wdith: 200px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-image h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.featured-image h2 span {
  display: inline-block;
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.featured-image span a {
  color: white;
}
.featured-image h1 {
  margin: 10px;
}




.container {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}
.container a {
  text-decoration: underline;
}
.content-wrapper {
  padding-top: $header-thickness+10px;
  margin: 10px;
  display: block;
  
  position: static;
  float: right;
  width: 70%;

}
.post-content {
  max-width: 100%;
}

.content-wrapper h1 {
  margin: 20px 0px 5px;
}
@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .content-wrapper {
    padding-top: $header-thickness+10px;
    margin: auto;
    display: block;
    width: 95vw;
  }
}
