/* Site container */
// .content {
//   width: $container-width;
//   margin-left: auto;
//   margin-right: auto;
//   width: 80%;
//   margin: 0 auto; 
// }
// .content-wrapper {
//   margin-left: 10px;
//   display: contents;
//   position: static;
//   float: right;
//   width: 70%;
// }
// .page-content {
//   max-width: 100%;
// }
// .sidebarAndContent {
//   padding-top: $header-thickness + 16px;
// }

/* Responsive Design */
@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .content-wrapper {
    margin: auto;
    display: contents;
    width: 95vw;
  }
}
