header {
  height: 35px;
//   width: $container-width;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 5px; 
  margin: auto;
}
@media (max-width: $container-width) {
  .site-header {
    min-height: 56px;
    width: 95vw;
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 6px -6px #bbb;
    z-index: 100;
  }
}
.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
  float: left;
  width: 50%;
}
.site-subtitle-section {
  font-size: 16px;
  line-height: 46px;
  margin-bottom: 0;
  margin-top: 0;
  width: 50%;
}
.site-subtitle {
  display: inline;
}
.menu-list {
//   line-height: $header-thickness;
  line-height: 46px;
  float: right;
}
.menu-link {
  padding: 5px 10px;
}

/* Responsive dropdown menu */
@media (min-width: $container-width) {
  .dropbtn {
    display: none;
  }
  .dropdown-content {
    display: none;
  }
}
@media (max-width: $container-width) {
  .menu-list {
    display: none;
  }
  .site-title {
    padding-right: 0.25rem;
  }
  .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    margin-top: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }
}
