.page-content {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px auto 10px;
}

/* Rainbow Underline Link Effect */
.rainbow-underline:hover {
   background-size: 0 3px, 100% 3px;
 }
.rainbow-underline {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

/* Video */
bodyMov {
  background: #E8EBF3;
  height: 400px;
  width: 640px;
  font: 400 14px 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .socials {
    position: fixed;
    display: block;
    left: 20px;
    bottom: 20px;
    z-index: 9999;
    > a {
      display: block;
      width: 30px;
      opacity: .2;
      transform: scale(var(--scale, .8));
      transition: transform .3s cubic-bezier(0.38,-0.12, 0.24, 1.91);
      &:hover {
        --scale: 1;
      }
    }
  }
}

/* Downloadable Resume Link Rainbow Hover Effect */
.rainbow-text {
  color: black;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}
.rainbow-text:hover {
  color: transparent;
  transition: 500ms ease;
}

/* Icons */
.experience-row {
  text-align: -webkit-left;
  margin-top: 5px;
  margin-bottom: 5px;
}
.experience-row p {
  display: inline-block;
  margin: 0;
}
.icon-wrapper {
  width: 22px;
  text-align: center;
  display: inline-block;
}

/* Details & Detail Chevron */
.experience-wrapper details {
  margin-top: 5px;
  margin-bottom: 5px;
}
details[open] summary::marker {
  content: '\f13a' ' ';
}
summary::marker {
  content: '\f138' ' ';
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
}
summary {
  margin-left: 8px;
}
.summary-title {
  display: inline-block;
  margin-left: 5px;
}
.summary-row {
  display: table-row;
}
.summary-icon {
  display: inline-block;
  margin-left: 8px;
}
.summary-item {
  display: inline-block;  
  margin-left: 10px;
}


/* Language Skills Boxes */
.grid-container {
  display: grid;
  grid-template-areas: 'left center right';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px;
  grid-gap: 5px;
  width: 360px;
}
.grid-left,
.grid-center,
.grid-right {
      border-radius: 25px;
      border: 2px solid #54b3d6;
      display: grid;
      align-items: start;
      justify-content: center;
      border-style: ridge;
      width: 150px;
      block-size: 150px;
      margin: 15px;
}
.grid-left {
      grid-area: left;
}
.grid-center{
      grid-area: center;
}
.grid-right {
      grid-area: right;
}
.level {
        text-align: center;     
        margin: auto;
}
.languages {
        text-align: center; 
        margin-top: 0;
}
