aside {
  position: static;
  float: left;
  width: 20%;
  padding-top: $header-thickness + 16px;
  padding-top: 60px;
  min-width:200px;
  max-width: 295px;
	margin-bottom: 50px;
}
@media (max-width:991px) {
	.aside {
		width: 100%;
		max-width: 992px;
		margin-bottom: 0
	}
}
aside img {
  height: 93.75px;
  width: 150px;
}
.featured-post {
  height: 93.75px;
  width: 150px;
  margin: 0px 0px 10px 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-post h2 {
  bottom: 0;
  margin: 0;
  padding: 8px;
  position: absolute;
}
.featured-post h2 span {
  display: inline-block;
  color: white;
  font: 18px/35px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding-left: 8px;
  padding-right: 8px;
}
.featured-post span a {
  color: white;
}
.featured-post h1 {
  margin: 8px;
}
.featured-image {
  height: 93.75px;
  width: 150px;
  margin: 0px 0px 5px 5px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-image h2 {
  bottom: 0;
  margin: 0;
  padding: 8px;
  position: absolute;
}
.featured-image h2 span {
  display: inline-block;
  color: white;
  font: bold 18px/35px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 8px;
}
.featured-image span a {
  color: white;
}
.featured-image h1 {
  margin: 8px;
}
