---
layout: default
title: Home
---
<!--  

<div class="post-content">

  <article>
   <p style=font-family:"Courier New"; font-size: 20px>
     Hello and Welcome to my webpage! </br>
   </p>
   <p>
     This website showcases my coding skills, shares my current projects, and continued education. </br>
   </p>
   <p>
     Please navigate to the rest of the site to see more information.  </br>
   </p>
   <p style=font-family:"Courier New"; font-size: 20px>
     Thank you for visiting!
   </p>
  </article>

</div> -->
