---
layout: default
title: Home
---
 

<div class="post-content">

  <article>
   <p style=font-family:"Courier New"; font-size: 20px>
     Hello and Welcome to my webpage! </br>
   </p>
   <p>
     The purpose of this site is to showcase my coding skills and to display other pursuits as I continue my education. </br>
   </p>
   <p>
     Please navigate to the rest of the site to see more information.  </br>
   </p>
   <p style=font-family:"Courier New"; font-size: 20px>
     Thank you for visiting!
   </p>
  </article>

</div>
