---
layout: default
---

<div class="post-content">
  
<!--   {% for post in site.posts %}
    {% if post.categories contains page.category %}
      {% include featured-post.html %}
    {% endif %}
  {% endfor %} -->
  
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-image" {% if page.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ page.image }})"{% endif %}>
      <h2><span>{{ page.title }}</span></h2>
    </div>
  </a>  
  
  
<!--   <h2>
    {{ page.title }}
  </h2>
  
  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
  {% endif %} -->
  
  <article>
    {{ content }}
  </article>

</div>
 
